---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/161.185.207.20/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - df7f476ab0e6a5f1d3aab8e2972b537e/7177119849468407588;o=0
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "161.185.207.20",
          "city": "Brooklyn",
          "region": "New York",
          "country": "US",
          "loc": "40.6940,-73.9903",
          "postal": "11201"
        }
  recorded_at: Tue, 08 Jan 2019 11:14:30 GMT
recorded_with: VCR 4.0.0
